---
// Componente: src/components/Profile.astro

// Definimos los datos dinámicos
const userData = {
  title: "A Software Developer building modern web applications",
  description: `
    I <span class="text-primary font-semibold">design and develop</span> web applications, constantly exploring new 
technologies to enhance my skills and tackle new challenges. Each project is an opportunity for professional growth. I strive to contribute to digital projects and drive company success through my technical expertise and personal abilities.
  `,
  info: {
    column1: [
      { label: "Location", value: "Mérida, Yucatán" },
      { label: "Freelance", value: "Available" },
      { label: "Email", value: "rafael.rosales1405@gmail.com" },
    ],
    column2: [
      { label: "LinkedIn", value: "@hugorosme" },
      { label: "Phone", value: "+52 962 170 5041" },
    ],
  },
};
---

<div class="px-8 mb-24 max-w-4xl mx-auto text-center">
  <!-- Título dinámico -->
  <h1 class="text-xl font-bold text-accent2 mb-4">
    {userData.title}
  </h1>

  <p
    class="text-textPrimary leading-relaxed mb-6"
    set:html={userData.description}
  />

  <div class="grid grid-cols-1 md:grid-cols-2 text-lg max-w-2xl mx-auto">
    <!-- Columna 1 -->
    <div class="text-center md:text-left">
      {
        userData.info.column1.map((item) => (
          <>
            {/* Version phone */}
            <div class="md:hidden">
              <div class="text-accent2 font-semibold">{item.label}</div>
              <div class="text-textPrimary/80">{item.value}</div>
            </div>

            <div class="hidden md:grid grid-cols-6 items-center">
              <div class="col-span-2 text-right mr-2 text-accent2 font-semibold">
                {item.label}
              </div>
              <div class="col-start-3">|</div>
              <div class="col-span-3 col-start-4 text-textPrimary/80">
                {item.value}
              </div>
            </div>
          </>
        ))
      }
    </div>

    <!-- Columna 2 -->
    <div class="text-center md:text-left">
      {
        userData.info.column2.map((item) => (
          <>
            {/* Version phone */}
            <div class="md:hidden">
              <div class="text-accent2 font-semibold">{item.label}</div>
              <div class="text-textPrimary/80">{item.value}</div>
            </div>
            <div class="hidden md:grid grid-cols-6 items-center">
              <div class="col-span-2 text-right mr-2 text-accent2 font-semibold">
                {item.label}
              </div>
              <div class="col-start-3">|</div>
              <div class="col-span-3 col-start-4 text-textPrimary/80">
                {item.value}
              </div>
            </div>
          </>
        ))
      }
    </div>
  </div>
</div>
