---
const education = [
  {
    year: "2019 - 2024",
    title: "Licenciatura en Ingeniería en Desarrollo y Tecnologías de Software",
    subtitle: "Universidad Autónoma de Chiapas",
  },
  {
    year: "2016 - 2019",
    title: "Profesional Técnico en Informática",
    subtitle: "Colegio Nacional de Educación Profesional Técnica",
  },
];

const experiences = [
  {
    year: "2024",
    title: "Universidad Autónoma de Chiapas",
    job: "Thesis Project",
    description:
      "I developed an Information System for managing the Thesis Seminar using the PEVN stack, applying business rules and documenting the project.",
  },
  {
    year: "2023",
    title: "Volcana Agencia Digital",
    job: "Intern",
    description:
      "I managed websites, optimized their performance, and contributed to the development of a digital menu system.",
  },
  {
    year: "2022",
    title: `Hospital General "Dr. Manuel Velasco Suárez"`,
    job: "Intern",
    description:
      "I migrated databases to a new Laravel platform and maintained the integrated medical-administrative management system.",
  },
];
---

<div class="flex justify-center px-0 min-h-svh">
  <div class="flex gap-x-32 flex-wrap">
    <div class="timeline-column">
      <h2 class="title">Education</h2>
      <div class="timeline-box">
        {
          education.map((item) => (
            <div class="timeline-content">
              <div class="content card">
                <div class="year">{item.year}</div>
                <h4>{item.title}</h4>
                <h5>{item.subtitle}</h5>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="timeline-column">
      <h2 class="title">Experience</h2>
      <div class="timeline-box">
        {
          experiences.map((item) => (
            <div class="timeline-content">
              <div class="content card">
                <div class="year">{item.year}</div>
                <h4>{item.title}</h4>
                <h5 class="job">{item.job}</h5>
                <p>{item.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  @reference './../styles/global.css';

  .timeline-column {
    @apply flex-[1_1_320px];
  }

  .title {
    @apply text-xl mt-8 mr-0 mb-4 ml-[30px] text-center font-bold;
  }

  .timeline-column .title:after,
  .timeline-column .title:before {
    @apply w-0 h-0;
    content: "";
  }

  /* Linea */
  .timeline-column .timeline-box {
    border-image: linear-gradient(180deg, #00d4ff, #7c3aed, #f59e0b) 1;
    @apply border-l-[3px] border-solid;
  }

  .timeline-box .timeline-content {
    @apply relative pl-7;
  }

  /* Este es el punto */
  .timeline-box .timeline-content::before {
    border: 3px solid rgba(0, 212, 255, 0.6);
    background: #00d4ff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 212, 255, 0.6);
    @apply absolute top-0 left-[-11px] size-5;
    content: "";
  }

  .timeline-content .content {
    @apply p-6 border-2 border-solid  rounded-lg mb-8;
  }
  .timeline-content .content .year {
    @apply inline-block text-white text-sm font-bold bg-linear-to-r from-[#7c3aed] to-[#a855f7] rounded-full px-2 py-1 mb-2;
  }

  .timeline-content .content h4 {
    @apply text-xl font-bold my-1 mx-0 text-textPrimary text-pretty;
  }

  .timeline-content .content h5 {
    @apply text-base font-bold my-2 mx-0 text-[#00d4ff] text-pretty;
  }

  .timeline-content .content .job {
    @apply mt-[-5px];
  }

  .timeline-content .content p {
    @apply text-base text-textPrimary text-balance opacity-90;
  }
</style>
