---
import Image from "astro/components/Image.astro";
import Github from "./icons/Github.astro";
import Linkenid from "./icons/Linkenid.astro";

import Avatar from "@assets/1706375079269.webp";
import Download from "./icons/Download.astro";
const myData = {
  title: "Hola, soy Rafael Rosales",
  degree: "Software Engineer",
  description: `
    Con experiencia en el diseño y desarrollo de aplicaciones web, en constante exploración de nuevas tecnologías para mejorar mis habilidades y enfrentar nuevos retos.
  `,
  cv: "data/cv_merida.pdf",
  social: [
    { name: "LinkedIn", url: "https://linkedin.com/in/hugorosme" },
    { name: "GitHub", url: "https://github.com/HugoRomz" },
  ],
};
---

<div
  class="absolute size-80 bg-primary mix-blend-screen rounded-full blur-[150px] opacity-50"
>
</div>

<div class="container">
  <div class="flex items-center gap-5">
    <div class="space-y-2 md:w-2/3">
      <h3 class="text-xl font-bold">{myData.title}</h3>
      <h1>
        <span
          class="text-3xl lg:text-4xl xl:text-5xl font-bold bg-gradient-to-r from-primary to-accent2 inline-block text-transparent bg-clip-text pb-2"
          >{myData.degree}
        </span>
      </h1>
      <div class="relative flex justify-center md:hidden">
        <div
          class="absolute left-0 bottom-0 size-80 bg-primary mix-blend-screen rounded-full blur-[150px] opacity-50"
        >
        </div>
        <Image
          src={Avatar}
          alt="Rafael"
          class="my-10 max-w-[70%] duration-300 origin-center rotate-[4.5deg] border-2 border-primary rounded-[38px] hover:rotate-0 hover:border-accent2"
        />
      </div>
      <p class="max-w-xl text-lg pb-5">
        {myData.description}
      </p>
      <div class="flex items-center gap-5 flex-wrap">
        <a href={myData.cv} download="cv-hugo-rosales.pdf" class="btn__outline">
          Descargar CV
          <Download />
        </a>
        <div class="flex items-center gap-5">
          <a
            href={myData.social[0].url}
            target="_blank"
            rel="noopener noreferrer"
            class="social__icons"
          >
            <Linkenid />
          </a>
          <a
            href={myData.social[1].url}
            target="_blank"
            rel="noopener noreferrer"
            class="social__icons"
          >
            <Github />
          </a>
        </div>
      </div>
    </div>
    <div class="relative hidden md:w-1/3 md:flex justify-center">
      <div
        class="absolute left-0 bottom-0 size-80 bg-primary mix-blend-screen rounded-full blur-[150px] opacity-50"
      >
      </div>
      <Image
        src={Avatar}
        alt="Rafael"
        class="mb-7 mt-3 max-w-[80%] md:max-w-[90%] duration-300 origin-center rotate-[4.5deg] border-2 border-primary rounded-[38px] hover:rotate-0 hover:border-accent2"
      />
    </div>
  </div>
</div>

<style>
  @reference './../styles/global.css';

  .btn__outline {
    @apply inline-flex items-center gap-2 px-4 py-2 text-lg font-semibold text-primary border border-primary rounded-md transition duration-300 ease-in-out transform hover:scale-105 hover:bg-linear-to-r hover:from-accent3  hover:to-primary  hover:text-textPrimary cursor-pointer;
  }

  .social__icons {
    @apply relative border border-primary text-primary size-10 rounded-full grid place-items-center cursor-pointer hover:text-textPrimary duration-300;
  }

  .social__icons::before {
    @apply content-[''] absolute w-[100%] h-[100%] bg-primary inset-0 rounded-full scale-0 transition-transform ease-in-out duration-300 -z-10;
  }

  .social__icons:hover::before {
    @apply scale-100 origin-center;
  }
</style>
