---
import type { Technology } from "@data/technologies";
// import Badge from "@components/Badge.astro";
import { technologies } from "@data/technologies";
import Image from "astro/components/Image.astro";

// Props desde el componente padre
const { title, skills, gridClasses } = Astro.props;

// Filtra las tecnologías que coinciden con las skills recibidas
const skillTechs = skills
  .map((skill: any) => technologies.find((tech) => tech.id === skill))
  .filter(Boolean) as Technology[];
---

<div
  class={`${gridClasses} card`}
>
   <h3 class="text-xl font-bold text-textPrimary mb-6 flex items-center gap-2">
    <slot name="icon" />
    {title}
</h3>

  <div class="flex flex-wrap gap-3.5">
    {
      skillTechs.map((tech) => (
        <div
          class={`skill-tag`}
          style=`background-color: ${tech.bgColor} !important; color: ${tech.textColor} !important; border: 1px solid ${tech.ringColor} !important;`
        >
            <Image
                src={tech.logo}
                alt={tech.name}
                class="w-4 h-4"
            />
            <span>{tech.name}</span>
        </div>
      ))
    }
  </div>
</div>


<style scoped>
  @reference './../styles/global.css';

  .card {
    padding: 2rem;
  }

  .skill-tag{
    backdrop-filter: blur(5px);
 @apply py-2.5 px-4 gap-x-1 inline-flex items-center rounded-xl text-sm font-semibold transition-all duration-300 ease-in relative overflow-hidden cursor-pointer
  }

  .skill-tag::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    transition: left 0.5s ease;
  }

  .skill-tag:hover::before {
    @apply left-full
  }

.skill-tag:hover {
    transform: translateY(-2px) scale(1.05);
    border-color: rgba(0, 212, 255, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


</style>


